section.home-6(class="bg-[#F7FAFE] section-large relative")
	.container
		.row
			.col(class="lg:w-5/12")
				.desc 
					p GODACO products are globally renowned, reaching customers in over 70 countries across sectors of: Wholesale, Distribution, Retail, and Food Service. Our expansive distribution network ensures that our high-quality offerings are readily available worldwide, catering to the diverse needs and preferences of consumers around the globe.
					p.high-light Want to be our strategic partner?
				.btn-wrap
					a(href="#" class="btn btn-1")
						span Contact Us
						em.fa-light.fa-arrow-right-long
			.col(class="lg:w-7/12")
				div(class="relative")
					div(class="xl:absolute left-5 top-0 w-full")
						.img-src
							img(src="./img/home/5.png", alt="")