section.home-5
	.home-5-top 
		.img-src(class="img-ratio pt-[calc(716/1920*100%)]")
			+PugImg()
	.home-5-bottom(class="py-10 md:pt-[calc(108/1920*100rem)] md:pb-[calc(148/1920*100rem)] bg-blue-700 relative" setBackgroundDesktopEl="./img/about/5.jpg")
		.container 
			h2(class="font-secondary text-32 md:text-[calc(80/1920*100rem)] leading-none text-white font-normal text-center") The core of our organization
			.desc 
				p We place immense importance on establishing strong groundwork and have made significant investments to ensure its solidity. Central to our operations are our valued individuals, and we take great pride in the expertise, unwavering commitment, and skillfulness of our management team.
