section.home-2
	.container-custom-1500 
		.home-2-top(setBackgroundDesktop="./img/home/2.jpg")
			h2(class="title-global-1 mx-auto ") WHY US?
			p(class="heading-regular-20 text-body-text-33 max-w-[calc(463/1920*100rem)] text-center mx-auto") PALOMA VIETNAM not only wants to bring to Vietnamese users international quality SAFETY - JAPANESE products, but FUEL SAVING brings economic benefits in the process of using the product.
		.home-2-bottom
			.home-2-swiper.relative
				.swiper
					.swiper-wrapper
						.swiper-slide
							.item
								.icon
									img(src="http://paloma.local/wp-content/uploads/2023/07/High-end-brand.svg", alt="")
								h3 High-end brand
						.swiper-slide
							.item
								.icon
									img(src="http://paloma.local/wp-content/uploads/2023/07/High-end-brand.svg", alt="")
								h3
									| Friendly and easy to
									br
									| use
						.swiper-slide
							.item
								.icon
									img(src="http://paloma.local/wp-content/uploads/2023/07/High-end-brand.svg", alt="")
								h3 Professiona lafter-sales mode
				.wrap-navigation-slide
					.progressbar-style-2
						.swiper-pagination