section.home-banner(class="bg-secondary-2")
	.home-banner-swiper.relative 
		.swiper
			.swiper-wrapper
				-for(i=0;i<3;i++)
					.swiper-slide
						.item
							.img
								img(src="./img/banner/home-banner.jpg", alt="home-banner")
							.box-content
								div(class="px-15 xl:px-0")
									p
										| Bring the essence of
										span THE MEKONG RIVER
										| to the world
		.container
			.wrap-navigation-slide.relative
				.progressbar-style-1
					.swiper-pagination