section.home-5.section-large
	.container
		h2(class="title-global-1 mx-auto ") CUSTOMER  SUPPORT
		.home-5-swiper.relative
			.swiper
				.swiper-wrapper
					-for(i=0;i<=4;i++)
						.swiper-slide
							a(href="#" class="item")
								.icon
									<svg xmlns="http://www.w3.org/2000/svg" width="80" height="81" viewBox="0 0 80 81" fill="none">
										<g clip-path="url(#clip0_2788_11968)">
											<path d="M78.4375 0.938965H46.2305C43.6859 0.938965 41.4233 2.16455 40 4.05664C38.5767 2.16455 36.3141 0.938965 33.7695 0.938965H1.5625C0.699463 0.938965 0 1.63843 0 2.50146V73.1265C0 73.9895 0.699463 74.689 1.5625 74.689H39.9976H40H40.0024H52.0996C52.9626 74.689 53.6621 73.9895 53.6621 73.1265C53.6621 72.2634 52.9626 71.564 52.0996 71.564H41.8225C42.0502 70.9121 42.4225 70.3146 42.9242 69.811C43.8062 68.926 44.9805 68.439 46.2299 68.439H76.875V71.564H64.5996C63.7366 71.564 63.0371 72.2634 63.0371 73.1265C63.0371 73.9895 63.7366 74.689 64.5996 74.689H78.4375C79.3005 74.689 80 73.9895 80 73.1265V2.50146C80 1.63843 79.3005 0.938965 78.4375 0.938965ZM3.125 4.06396H33.7695C36.3434 4.06396 38.4375 6.15808 38.4375 8.73132V66.8649C37.0978 65.8584 35.4761 65.314 33.7701 65.314H3.125V4.06396ZM3.125 68.439H33.7701C35.0195 68.439 36.1932 68.926 37.0758 69.811C37.5775 70.3146 37.9498 70.9121 38.1769 71.564H3.125V68.439ZM41.5625 66.8649V8.73132C41.5625 6.15808 43.6566 4.06396 46.2305 4.06396H76.875V65.314H46.2299C44.5239 65.314 42.9022 65.8584 41.5625 66.8649Z" fill="#221714"/>
											<path d="M32.2003 26.5853H9.21875C8.35571 26.5853 7.65625 27.2848 7.65625 28.1478V58.1283C7.65625 58.9907 8.35571 59.6908 9.21875 59.6908H32.2003C33.0634 59.6908 33.7628 58.9907 33.7628 58.1283V28.1478C33.7628 27.2848 33.0634 26.5853 32.2003 26.5853ZM30.6378 56.5658H10.7812V29.7103H30.6378V56.5658Z" fill="#221714"/>
											<path d="M70 37.8158H47.3438C46.4807 37.8158 45.7812 38.5153 45.7812 39.3783C45.7812 40.2407 46.4807 40.9408 47.3438 40.9408H70C70.863 40.9408 71.5625 40.2407 71.5625 39.3783C71.5625 38.5153 70.863 37.8158 70 37.8158Z" fill="#221714"/>
											<path d="M70 47.1908H47.3438C46.4807 47.1908 45.7812 47.8903 45.7812 48.7533C45.7812 49.6157 46.4807 50.3158 47.3438 50.3158H70C70.863 50.3158 71.5625 49.6157 71.5625 48.7533C71.5625 47.8903 70.863 47.1908 70 47.1908Z" fill="#221714"/>
											<path d="M70 56.5658H47.3438C46.4807 56.5658 45.7812 57.2653 45.7812 58.1283C45.7812 58.9907 46.4807 59.6908 47.3438 59.6908H70C70.863 59.6908 71.5625 58.9907 71.5625 58.1283C71.5625 57.2653 70.863 56.5658 70 56.5658Z" fill="#221714"/>
											<path d="M16.9822 50.2438C17.8001 50.5197 18.6863 50.079 18.961 49.2611L19.0764 48.9193H23.455L23.5698 49.2611C23.7895 49.9142 24.398 50.3256 25.0505 50.3256C25.2159 50.3256 25.3837 50.2993 25.5491 50.2438C26.367 49.9685 26.8071 49.0823 26.5318 48.2644L22.7464 37.0144C22.5328 36.379 21.9365 35.9506 21.2657 35.9506C20.5949 35.9506 19.9986 36.3784 19.7844 37.0144L15.9996 48.2644C15.7243 49.0823 16.1638 49.9685 16.9822 50.2438ZM21.2657 42.413L22.4034 45.7943H20.128L21.2657 42.413Z" fill="#221714"/>
											<path d="M32.2003 19.0853H15.4688C14.6057 19.0853 13.9062 19.7848 13.9062 20.6478C13.9062 21.5109 14.6057 22.2103 15.4688 22.2103H32.2003C33.0634 22.2103 33.7628 21.5109 33.7628 20.6478C33.7628 19.7848 33.0634 19.0853 32.2003 19.0853Z" fill="#221714"/>
											<path d="M9.21875 22.2109C9.62952 22.2109 10.033 22.0437 10.3235 21.7532C10.614 21.4626 10.7812 21.0592 10.7812 20.6484C10.7812 20.2358 10.614 19.8342 10.3235 19.5419C10.033 19.2513 9.62952 19.0859 9.21875 19.0859C8.80798 19.0859 8.40454 19.2513 8.11401 19.5419C7.82349 19.833 7.65625 20.2358 7.65625 20.6484C7.65625 21.0592 7.82349 21.4626 8.11401 21.7532C8.40454 22.0437 8.80798 22.2109 9.21875 22.2109Z" fill="#221714"/>
											<path d="M9.54395 12.228H32.2002C33.0632 12.228 33.7627 11.5286 33.7627 10.6655C33.7627 9.80249 33.0632 9.10303 32.2002 9.10303H9.54395C8.68091 9.10303 7.98145 9.80249 7.98145 10.6655C7.98145 11.5286 8.68091 12.228 9.54395 12.228Z" fill="#221714"/>
											<path d="M47.3438 32.2122H70C70.863 32.2122 71.5625 31.5127 71.5625 30.6497V10.6655C71.5625 9.80249 70.863 9.10303 70 9.10303H47.3438C46.4807 9.10303 45.7812 9.80249 45.7812 10.6655V30.6497C45.7812 31.5127 46.4807 32.2122 47.3438 32.2122ZM61.4838 29.0872H51.0944L56.2891 23.8925L61.4838 29.0872ZM65.9033 29.0872L60.2856 23.4695L64.3164 19.4393L68.4375 23.5604V29.0872H65.9033ZM68.4375 12.228V19.1409L65.4211 16.1245C64.8108 15.5148 63.822 15.5148 63.2117 16.1245L58.0762 21.26L57.3938 20.5776C56.7834 19.9679 55.7947 19.9679 55.1843 20.5776L48.9062 26.8557V12.228H68.4375Z" fill="#221714"/>
											<path d="M58.6719 71.564C58.2611 71.564 57.8577 71.7312 57.5671 72.0217C57.2766 72.3123 57.1094 72.7157 57.1094 73.1265C57.1094 73.5372 57.2766 73.9407 57.5671 74.2312C57.8577 74.5217 58.2611 74.689 58.6719 74.689C59.0826 74.689 59.4861 74.5217 59.7766 74.2312C60.0671 73.9407 60.2344 73.5372 60.2344 73.1265C60.2344 72.7157 60.0671 72.3123 59.7766 72.0217C59.4861 71.7312 59.0826 71.564 58.6719 71.564Z" fill="#221714"/>
										</g>
										<defs>
											<clipPath id="clip0_2788_11968">
											<rect width="80" height="80" fill="white" transform="translate(0 0.938965)"/>
											</clipPath>
										</defs>
									</svg>
								h3 Product information
			.wrap-navigation-slide
				.progressbar-style-2
					.swiper-pagination