section.about-2
	.container
		h2(class="text-blue-500 global-text-48 font-light text-blue-500 text-center mb-6") The Story of GODACO
		.swiper-thumb.relative
			.swiper
				.swiper-wrapper
					-for(i=0;i<10;i++)
						.swiper-slide
							.item
								.icon.relative
								.year 200#{i}
		.swiper-main.relative(class="mt-6")
			.swiper
				.swiper-wrapper
					-for(i=0;i<10;i++)
						.swiper-slide
							div(class="bg-[#F1F6FD] px-5 pt-5 pb-9 rounded-1")
								.img-src(class="img-ratio pt-[calc(250/376*100%)]")
									+PugImg 
								h3 200#{i}
								.desc 
									p Establishment of the By-products Factory - Go Dang Ben Tre Plant
			.wrap-navigation-slide.progressbar-style-2(class="xl:hidden")
				.swiper-pagination
			.wrap-button-slide.slide-style-1
				.btn-prev
				.btn-next