section.about-1.section-large
	.container 
		.row 
			.col(class="lg:w-6/12")
				div(class="pt-20")
					div(class="text-red-500 font-secondary text-[calc(56/1920*100rem)] leading-1.25") Godaco Seafood
					div(class="text-blue-500 global-text-48 font-light text-blue-500") Message from The Chairman
					.content
						.desc 
							p Godaco holds a special place in my heart as a crucial link connecting the essentials of the Mekong River with consumers around the globe. At the core of our values lies an unwavering commitment to quality, which serves as the cornerstone of our operations. It embodies the collective dedication, passion, and unwavering determination exhibited by every member of the Godaco family.
						.name
							span (The Chairman)
							| Mr. Nguyen Van Dao
			.col(class="lg:w-6/12")
				div(class="pl-20 relative")
					.img-src(class="img-ratio pt-[calc(551/568*100%)]")
						img(src="./img/about/3.png", alt="")
					.avtar(class="absolute top-6 right-0 w-[calc(496/1920*100rem)] h-[calc(593/1920*100rem)]")
						img(src="./img/about/4.png", alt="" class="w-full h-full object-contain")
						