ul.social-fixed(class="fixed z-10 bottom-9 right-0 transition duration-300 flex flex-col gap-2")
	li.button-to-top
		a(href="javascript:;") 
			em.fa-thin.fa-chevron-up
	li 
		a(href="javascript:;") 
			em.fa-solid.fa-phone
	li 
		a(href="javascript:;") 
			<svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none"><script xmlns=""/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.4329 11.4974C22.5118 11.3711 22.5441 11.2212 22.5241 11.0736C22.5041 10.926 22.4331 10.7901 22.3234 10.6893C22.2137 10.5886 22.0722 10.5294 21.9235 10.522C21.7747 10.5146 21.6281 10.5594 21.5089 10.6488C20.0235 11.7629 18.2989 13.0563 17.3367 13.7777C17.1199 13.9403 16.857 14.0297 16.586 14.0328C16.315 14.036 16.0501 13.9528 15.8296 13.7953C15.0135 13.2125 13.724 12.2916 12.9015 11.7039C12.3954 11.3422 11.7888 11.1478 11.1667 11.1479H11.166C10.8732 11.1479 10.5851 11.2224 10.329 11.3644C10.0728 11.5063 9.85695 11.7111 9.70168 11.9594L5.64171 18.4548C5.56278 18.5811 5.53051 18.731 5.5505 18.8786C5.57049 19.0262 5.64148 19.1622 5.75116 19.2629C5.86085 19.3637 6.00232 19.4229 6.15107 19.4303C6.29982 19.4377 6.44648 19.3928 6.56562 19.3034C8.05102 18.1894 9.77569 16.896 10.7379 16.1745C10.9547 16.0119 11.2176 15.9226 11.4886 15.9194C11.7595 15.9162 12.0245 15.9995 12.245 16.157C13.0611 16.7397 14.3506 17.6606 15.173 18.2483C15.6792 18.6101 16.2858 18.8046 16.9079 18.8046H16.9085C17.2014 18.8046 17.4895 18.7301 17.7456 18.5881C18.0018 18.4462 18.2176 18.2414 18.3729 17.9931L22.4329 11.4974ZM5.10447 24.6714C3.52475 23.4497 2.24407 21.8843 1.35962 20.0939C0.475175 18.3035 0.0102051 16.3351 0 14.3382C0 6.94309 6.28998 0.938965 14.0373 0.938965C21.7846 0.938965 28.0746 6.94309 28.0746 14.3382C28.0746 21.7333 21.7846 27.7374 14.0373 27.7374C12.7827 27.7385 11.5332 27.5786 10.3193 27.2615L6.91209 28.823C6.71768 28.9121 6.50402 28.9509 6.29071 28.9358C6.07741 28.9207 5.87131 28.8523 5.69135 28.7368C5.51139 28.6213 5.36333 28.4625 5.26079 28.2748C5.15824 28.0872 5.10449 27.8768 5.10447 27.663V24.6714Z" fill="white"/>
			</svg>
