extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/global/Breadcrumb/Breadcrumb
	include ../components/global/PageBanner/PageBanner.pug
	include ../components/modules/About/About-1/About-1
	include ../components/modules/About/About-2/About-2
	include ../components/modules/About/About-3/About-3
	include ../components/modules/About/About-4/About-4
	include ../components/modules/About/About-5/About-5
	include ../components/modules/About/About-6/About-6