extends ./_layout/_default.pug

block var
	- var title = 'Home'
	- var bodyClass = 'homepage'
block main
	include ../components/global/HomeBanner/HomeBanner.pug
	include ../components/modules/Home/Home-1/Home-1
	include ../components/modules/Home/Home-2/Home-2
	include ../components/modules/Home/Home-3/Home-3
	include ../components/modules/Home/Home-4/Home-4
	include ../components/modules/Home/Home-5/Home-5