extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/global/Breadcrumb/Breadcrumb
	include ../components/global/PageBanner/PageBanner.pug
	include ../components/modules/WhatWedo/List/WhatWedoList