section.contact-page.py-20
    .img-bg(class="pt-[150px] relative")
        span.img1(class="relative top-[59px] left-[86px]")
            img(src="./img/contact/mussel2.png" alt="" class="")
        span.img2(class="relative top-[225px] right-[125px]")
            img(src="./img/contact/mussel3.png" alt="" class="")
        span.img3(class="relative top-[189px] left-[132px]")
            img(src="./img/contact/mussel4.png" alt="" class="")
    .container
        .contact-info(class="grid xl:grid-cols-12 gap-5 xl:gap-0")

            .contact-left(class="grid xl:col-span-6")
                .hi 
                    h3 Hi!! We are
                .title Godaco Seafood
                hr(class="my-5")
                .location-company(class="pb-3") Go Dang Joint Stock Company
                .address(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-regular fa-location-dot"></i>
                    .desc Add: Lot 45, My Tho Industrial Park, Tien Giang Province, Vietnam
                .tele(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-regular fa-phone"></i>
                    .desc Tel: (+84) 2733 953 227 - Fax: (+84) 2733 953 226
                .email(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-light fa-envelope"></i>
                    .desc Email: godang@godaco.vn   
                .map(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-regular fa-map-location-dot"></i>
                    .desc 
                        a(href="#") Google map

                hr(class="my-5")
                .location-company(class="pb-3") Representative office in Ho Chi Minh City
                .address(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-regular fa-location-dot"></i>
                    .desc Add: No. 202/13 - Co Bac Str., District 1, Ho Chi Minh City, Vietnam
                .tele(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-regular fa-phone"></i>
                    .desc Tel: (+84) 2838 378 356 - Fax: (+84) 2838 374 734
                .email(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-light fa-envelope"></i>
                    .desc Email: hcm@godaco.vn 
                .map(class="flex gap-3 py-1")
                    .icon
                        <i class="fa-regular fa-map-location-dot"></i>
                    .desc 
                        a(href="#") Google map

            .contact-right(class="grid xl:col-span-6 bg-[#F1F6FD] px-8 py-11")
                .form-title(class="text-center") Every good partnership starts with a conversation. Please contact us, all your wishes 
                        span(class="text-[#08518F]") will be heard.
                .form-contact
                    form(action="", method="get") 
                        input(type="text" name="name" placeholder="Name")
                        input(type="phone" name="phone" placeholder="Phone")
                        input(type="mail" name="email" placeholder="Email")
                        input(type="text" name="title" placeholder="Title")
                        textarea(type="content" rows='4' cols='50' placeholder='Messenger')
                        .btnSend
                            button(type="button") Send <i class="fa-regular fa-arrow-right-long ml-3"></i>
    .img-bg 
        img(src="./img/news/fish1.png" alt="" class="relative right-6 top-[440px]")
