footer
	.footer-top.section-large(class="border-b-3 border-primary-50")
		.container-custom-1172
			.wrapper
				.box-left
					h3 Links
					nav(class="footer-menu flex gap-10")
						ul
							li 
								a(href="#") Company profile 
							li 
								a(href="#") Products
							li 
								a(href="#") Catalog
						ul
							li 
								a(href="#") Contact us
							li 
								a(href="#") Recruitment
				.box-right
					h3 Subscribe newsletter
					.form-newsletter
						form
							input(type="text" placeholder="Email")
							button
								span SUBSCRIBE
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19" fill="none">
									<circle cx="17" cy="9.93896" r="8.5" stroke="white"/>
									<path d="M19.7701 9.62012L15.2471 5.09707C15.0847 4.90735 14.7991 4.88523 14.6094 5.04775C14.4197 5.21022 14.3976 5.49576 14.5601 5.68548C14.5752 5.70317 14.5917 5.71969 14.6094 5.73481L18.359 9.48893H0.452289C0.202511 9.48893 0 9.69144 0 9.94126C0 10.1911 0.202511 10.3935 0.452289 10.3935H18.359L14.6094 14.1431C14.4197 14.3056 14.3976 14.5911 14.5601 14.7809C14.7226 14.9706 15.0081 14.9927 15.1978 14.8302C15.2155 14.815 15.232 14.7985 15.2471 14.7809L19.7702 10.2578C19.9455 10.0815 19.9455 9.79655 19.7701 9.62012Z" fill="white"/>
								</svg>
	.footer-bottom.section-medium
		.container-custom-1172
			.wrapper
				.box-left
					h3 PALOMA VIETNAM CO., LTD
					ul 
						li 
							.icon
								em.fa-light.fa-location-dot
							p No. 114-116, Street No. 6, Vsip HP Industrial Park, Branch, and Service, Tan Duong Commune, Thuy Nguyen District, Hai Phong
						li 
							.icon
								em.fa-light.fa-phone
							p Hotline 1900 55 55 94 (8:00AM - 5:00PM Mon-Fri)
				.box-right 
					ul 
						li 
							a(href="#")
								<i class="fa-brands fa-facebook-f"></i>
						li 
							a(href="#")
								<i class="fa-brands fa-youtube"></i>
						li 
							a(href="#")
								<i class="fa-brands fa-linkedin-in"></i>
					p
						| © 2022 PALOMA.
						br
						| Web design by Canh Cam.