footer(class="bg-[#e4edfb] relative")
	.container
		.footer-top(class="py-10 md:pt-20 relative z-10")
			.logo-footer(class="text-center")
				img(src="./img/logo_footer.png" alt="")
		.line-svg
			<svg xmlns="http://www.w3.org/2000/svg" width="1312" height="14" viewBox="0 0 1312 14" fill="none">
				<path opacity="0.4" d="M2.09819e-06 13.0005C41.4141 13.0005 38.7636 1.00024 79.8465 1.00023C120.929 1.00022 121.261 13.0005 161.681 13.0004C202.101 13.0004 202.432 1.00021 244.84 1.0002C287.248 1.00019 285.923 13.0004 326.343 13.0004C366.764 13.0004 366.101 1.00018 407.515 1.00017C448.929 1.00017 450.586 13.0004 489.349 13.0004C528.113 13.0004 529.438 1.00015 570.853 1.00014C612.267 1.00014 613.592 13.0004 652.356 13.0004C691.119 13.0004 693.438 1.00012 732.533 1.00012C771.628 1.00011 774.941 13.0003 816.024 13.0003C857.107 13.0003 857.77 1.00009 898.19 1.00009C938.61 1.00008 941.261 13.0003 980.024 13.0003C1018.79 13.0003 1020.44 1.00007 1059.87 1.00006C1099.3 1.00005 1101.95 13.0003 1142.7 13.0003C1183.45 13.0003 1184.44 1.00004 1224.86 1.00003C1265.28 1.00002 1267.6 13.0003 1312 13.0002" stroke="#3974A5"/>
			</svg>
		.footer-bottom(class="py-10 md:pb-20")
			.row
				.col(class="md:w-1/2 lg:w-4/12")
					h3 Contact Us
					p.footer-mail
						| Email: 
						a(href="mailto: godaco@godaco.com.vn") godaco@godaco.com.vn
					.btn-wrap(class="mt-8")
						a(href="#" class="btn btn-2")
							span Contact Us
							em.fa-light.fa-arrow-right-long
				.col(class="md:w-1/2 lg:w-4/12")
					h3 Connect with Us
					ul.footer-socials
						li 
							a(href="#")
								em.fa-brands.fa-facebook-f
						li 
							a(href="#")
								em.fa-brands.fa-linkedin
						li 
							a(href="#")
								em.fa-brands.fa-youtube
					.btn-wrap(class="mt-3")
						a(href="#" class="btn btn-3")
							span Sign up for the newsletter
							em.fa-light.fa-arrow-right-long
				.col(class="md:w-1/2 lg:w-4/12")
					ul.footer-links
						li 
							a(href="#") Privacy Policy
						li 
							a(href="#") Terms of use
						li 
							a(href="#") Sitemap
					p.copy-right 
						| ©2023 GODACO®. All rights reserved.
						br
						| Website designed by Canh Cam.
					.logo-bct
						img(src="./img/logo_bct.png", alt="logo-bo-cong-thuong")