section.newsdetail.py-20
    .container
        .post-detail(class="grid xl:grid-cols-12 gap-8")
            .post-left(class="grid col-span-8")
                .post-title
                    h2 Godaco at Shanghai International Seafood exhibition
                .post-date(class="flex py-6")
                    <i class="fa-regular fa-clock pr-3"></i>
                    p 31.03.2023
                        img(src="./img/news/line.png", alt="" class="pl-5")
                .post-description(class="gap-5")
                    h4 August 28 - 30, 2019, GODACO went to Shanghai, China to introduces products and connect with international businesses at the 14th Shanghai International Seafood Exhibition - 2019.
                    img(src="./img/news/n9.png", alt="")
                    p Shanghai International Seafood Exhibition is held annually, which is an opportunity for seafood businesses to promote their images and products, as well as to connect and strengthen relationships with customers and partners. Businesses participating in the event operate in areas such as aquaculture, seafood processing, processed food, instant seafood, offshore fishing, frozen logistics, e-commerce, and related processing equipment. This year, the exbihition was held at the National Convention and Exhibition Center (Shanghai New International Expo Center), Shanghai, China. With nearly 4,000 companies participating in product launches from more than 70 countries around the world, this event is considered one of the largest seafood exhibition in Asia.
                    img(src="./img/news/n10.png", alt="")
                    p At the event, GODACO's booth attracted a lot of customers and partners to learn about products and look for cooperation chances. In addition to the traditional frozen pangasius products, on this occasion, the Company focuses on promoting value-added products (breaded, marinated, etc.). China market is a potential market for convenient products, but still ensuring food safety and hygiene. Through this exhibition, GODACO has brought in some more orders as well as opened up many opportunities for cooperation in the near future.
            .post-right(class="grid col-span-4")
                .post-list
                    .post-heading(class="text-[#C4212B] pb-5")
                        h2 Other News
                    +ListNewsDetailPostRight('#','./img/news/n11.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
                    +ListNewsDetailPostRight('#','./img/news/n12.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
                    +ListNewsDetailPostRight('#','./img/news/n13.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
                    +ListNewsDetailPostRight('#','./img/news/n14.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
                    +ListNewsDetailPostRight('#','./img/news/n15.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
                    