section.page-banner.relative
	.container-custom-1500
		.home-banner-swiper.relative 
			.swiper
				.swiper-wrapper
					-for(i=0;i<=5;i++)
						.swiper-slide
							.img
								img(src="./img/companyprofile/1.jpg", alt="page-banner")
			.wrap-navigation-slide
				.progressbar-style-1
					.swiper-pagination
