section.news-1.py-20
    .img-bg 
        img(src="./img/news/fish.png" alt="" class="relative left-6 top-[345px]")
    .container
        .heading(class="text-center text-[#08518F] pb-6") News
        .swiper-container
            .swiper.news1
                .swiper-wrapper
                    +SlideNews1('#','./img/news/n1.png','31.03.2023','GODACO at Shanghai international seafood exhibition')
                    +SlideNews1('#','./img/news/n2.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
                    +SlideNews1('#','./img/news/n1.png','31.03.2023','GODACO at Shanghai international seafood exhibition')
                    +SlideNews1('#','./img/news/n2.png','31.03.2023','Welcome to the official trading day of GODACO SEAFOOD')
            .swiper-button-next.btn-next(class="right-[-90px]")
            .swiper-button-prev.btn-prev(class="left-[-90px]")
    .img-bg 
        img(src="./img/news/mussel.png" alt="" class="relative right-[37px] top-[40px]")
.bg-bottom
  img(src="./img/news/bgbot.png", alt="")