section.about-3.section-medium
	.container 
		.item.flex(class="gap-5")
			.box-img
				.img-src(class="img-ratio pt-[calc(430/646*100%)]")
					+PugImg()
			.box-content
				.wrap(class="px-15")
					h3 Vision
					.desc
						p Our vision is to become a global leader in aquaculture, offering premium, healthy, and sustainable food solutions. We aspire to create a brighter future for our employees, foster lifelong relationships with our clients and customers, and forge deep connections with consumers around the world.
		.item.flex(class="gap-5")
			.box-img
				.img-src(class="img-ratio pt-[calc(430/646*100%)]")
					+PugImg()
			.box-content
				.wrap(class="px-15")
					h3 Mission
					.desc
						p Our company is driven by two core principles: maintain our esteemed position in Vietnam's top tier of the seafood industry, and contribute to the global sustainability of aquaculture. We achieve this by consistently providing high-grade and healthy seafood products through the implementation of Vertically Integrated Systems. Our commitment lies in conducting our operations in a sustainable, safe, and responsible manner, ensuring that our practices have a positive impact on the environment while meeting the highest industry standards.